<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
	<div id="error_explanation">
		<ul>
  		<% flash.each do |message_type, message| %>  		
    		<li><%= message_type %>: <%= message %></li>
  		<% end %>
  		</ul>
  	</div>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
